@charset "UTF-8";
/* CSS Document */
/* CSS Document */
html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box; }

body {
  color: #333;
  /* RGB */
  font-family: "Noto Serif JP", serif, "メイリオ";
  font-weight: 500;
  font-size: 1.6em;
  line-height: 2.4rem;
  text-align: center; }
  body::before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    background-image: url("../image/background.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed; }

img {
  width: 100%; }

.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); }

@media (max-width: 1140px) {
  .header-fixed {
    background: none; } }
.line {
  width: 100px; }
  .line img {
    height: 30px; }

.twitter {
  width: 30px; }
  .twitter img {
    height: 25px; }

.cmn-sec {
  padding-bottom: 80px; }
  .cmn-sec::before {
    display: block;
    content: "";
    height: 15rem;
    margin-top: -15rem; }
  .cmn-sec .sec-title {
    font-size: 5rem;
    padding-bottom: 80px; }
    .cmn-sec .sec-title::after {
      content: "";
      display: block;
      background-color: #FF2D2D;
      height: 1px;
      margin: 20px auto 0;
      width: 100px; }

@media (max-width: 768px) {
  .cmn-sec {
    padding-bottom: 60px; }
    .cmn-sec .sec-title {
      font-size: 2.4rem;
      padding-bottom: 60px; }
      .cmn-sec .sec-title::after {
        width: 50px; } }
.none {
  display: none; }

#scroll-top {
  bottom: 20px;
  padding: 20px;
  position: fixed;
  right: 20px;
  background-image: url("../image/top-btn1.png");
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  display: block; }
  #scroll-top:hover {
    background-image: url("../image/top-btn2.png");
    background-size: cover;
    background-position: center;
    transition: .3s;
    opacity: 1;
    transform: translateY(-15px); }
  #scroll-top.-active {
    display: none; }

.btn {
  font-weight: 700;
  display: block;
  transition: all 0.3s;
  text-decoration: none;
  color: #212529;
  border-radius: 0.5rem;
  position: relative; }
  .btn.-active {
    display: none; }

.btn-flat {
  overflow: hidden;
  background-color: rgba(225, 225, 225, 0.9);
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  margin: 40px auto 0; }
  .btn-flat span {
    color: #333;
    position: relative;
    z-index: 500; }
  .btn-flat:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 500%;
    content: "";
    transition: all 0.5s ease-in-out;
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    background: #00b7ee; }
  .btn-flat:hover:before {
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
    opacity: 1; }

.sec-contact .desc {
  font-size: 3.6rem;
  line-height: 4.8rem;
  font-weight: 600; }

@media (max-width: 768px) {
  .sec-contact .desc {
    font-size: 2.4rem;
    line-height: 3.6rem; } }
/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  left: 50%;
  bottom: 10px;
  /*全体の高さ*/
  height: 50px; }

/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  top: -15px;
  /*テキストの形状*/
  color: #eee;
  font-size: 1.2rem;
  letter-spacing: 0.05em; }

/* 線の描写 */
.scrolldown1::after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 0;
  /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
  /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0; }

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0; }
  30% {
    height: 30px;
    opacity: 1; }
  100% {
    height: 0;
    top: 50px;
    opacity: 0; } }
/* CSS Document */
.top-bg {
  background-image: url("../image/top-image.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 100px; }
  .top-bg .header .nav-btn {
    display: none; }
  .top-bg .header-wrap {
    padding: 20px 0; }
    .top-bg .header-wrap nav ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      .top-bg .header-wrap nav ul .list-item {
        font-size: 2rem;
        position: relative; }
        .top-bg .header-wrap nav ul .list-item + .list-item {
          padding-left: 40px; }
        .top-bg .header-wrap nav ul .list-item a {
          color: #fff;
          text-decoration: none; }
          .top-bg .header-wrap nav ul .list-item a:hover {
            opacity: .7;
            transition: .3s; }
    .top-bg .header-wrap .sns {
      display: flex;
      align-items: center;
      position: absolute;
      top: 20px;
      right: 150px; }
      .top-bg .header-wrap .sns .twitter {
        padding-left: 40px; }
  .top-bg .top-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .top-bg .top-message .title {
      color: #fff;
      font-family: 'Pinyon Script', cursive;
      font-size: 10rem;
      letter-spacing: 10px; }
      .top-bg .top-message .title span {
        display: block;
        font-size: 2rem;
        padding-top: 100px;
        font-weight: 100;
        letter-spacing: 10px; }

@media (max-width: 1140px) {
  .top-bg {
    height: 600px; }
    .top-bg .header .nav-btn {
      padding: 0;
      display: block;
      width: 70px;
      height: 70px;
      appearance: none;
      background: transparent;
      border: none;
      font: inherit;
      color: #333;
      background-color: #fff;
      position: fixed;
      right: 0;
      margin-left: auto;
      z-index: 999; }
      .top-bg .header .nav-btn.-active span {
        transition: .3s ease; }
        .top-bg .header .nav-btn.-active span:first-child {
          display: none; }
        .top-bg .header .nav-btn.-active span:nth-child(2) {
          top: 20px;
          left: 20px;
          transform: rotate(45deg); }
        .top-bg .header .nav-btn.-active span:nth-child(3) {
          top: 20px;
          left: 20px;
          transform: rotate(-45deg); }
      .top-bg .header .nav-btn span {
        position: absolute;
        display: block;
        background-color: #333;
        width: 30px;
        height: 3px;
        margin: 0 auto;
        transition: transform .3s ease;
        left: 50%;
        transform: translateX(-50%); }
        .top-bg .header .nav-btn span:first-child {
          top: 10px; }
        .top-bg .header .nav-btn span:nth-child(2) {
          top: 20px; }
        .top-bg .header .nav-btn span:nth-child(3) {
          top: 30px; }
        .top-bg .header .nav-btn span:last-child {
          width: 24px;
          height: 0;
          top: 40px;
          left: 26px; }
    .top-bg .header-wrap {
      padding: 20px 0; }
      .top-bg .header-wrap.-active {
        background-image: url("../image/background.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        transition: .3s;
        position: fixed;
        z-index: 998;
        width: 100%; }
      .top-bg .header-wrap nav ul {
        display: none; }
        .top-bg .header-wrap nav ul.-active {
          display: block;
          padding-top: 50px;
          transition: 0.3s ease; }
        .top-bg .header-wrap nav ul .list-item + .list-item {
          padding-left: 0px;
          padding-top: 40px; }
        .top-bg .header-wrap nav ul .list-item a {
          color: #333;
          font-weight: 600;
          text-decoration: none; }
      .top-bg .header-wrap .sns {
        display: none; }
        .top-bg .header-wrap .sns.-active {
          display: block;
          transition: 0.3s ease;
          top: 50%;
          left: 0;
          right: 0; }
        .top-bg .header-wrap .sns .line {
          padding: 40px 0; }
        .top-bg .header-wrap .sns .twitter {
          padding-left: 0px; }
    .top-bg .top-message .title {
      color: #fff;
      font-size: 5rem;
      line-height: 6.6rem; }
      .top-bg .top-message .title span {
        font-size: 7rem; } }
/* CSS Document */
.sec-pro .inner {
  max-width: 1140px;
  margin: 0 auto; }
  .sec-pro .inner::before {
    display: block;
    content: "";
    height: 15rem;
    margin-top: -15rem; }
  .sec-pro .inner .profile {
    display: flex; }
    .sec-pro .inner .profile .photo {
      width: 50%; }
      .sec-pro .inner .profile .photo img {
        border-radius: 300px;
        width: 300px;
        height: 300px;
        object-fit: cover; }
    .sec-pro .inner .profile .introduction {
      text-align: left;
      flex: 1;
      background-color: rgba(225, 225, 225, 0.7);
      padding: 50px;
      box-sizing: border-box; }
      .sec-pro .inner .profile .introduction .name {
        font-size: 3.6rem;
        padding-bottom: 20px; }
        .sec-pro .inner .profile .introduction .name span {
          font-size: 1.6rem;
          font-weight: 500; }
      .sec-pro .inner .profile .introduction .text {
        padding-bottom: 20px; }
  .sec-pro .inner .message {
    position: relative;
    background-color: rgba(225, 225, 225, 0.5);
    width: 520px;
    height: 220px;
    text-align: justify;
    border: solid 1px #333;
    padding: 20px;
    box-sizing: border-box;
    margin: 120px auto 0;
    z-index: -1; }
    .sec-pro .inner .message .title {
      font-family: 'Pinyon Script', cursive;
      font-size: 5rem;
      transform: rotate(-15deg);
      position: absolute;
      top: -20px;
      left: -60px;
      font-weight: 500; }

@media (max-width: 800px) {
  .sec-pro .inner .profile {
    display: block; }
    .sec-pro .inner .profile .photo {
      margin: 0 auto;
      width: auto; }
    .sec-pro .inner .profile .introduction {
      margin-top: 40px; }
      .sec-pro .inner .profile .introduction .name {
        font-size: 2.4rem; }
        .sec-pro .inner .profile .introduction .name span {
          font-size: 1.2rem; }
  .sec-pro .inner .message {
    max-width: 520px;
    height: auto;
    width: auto;
    margin: 70px auto 0; }
    .sec-pro .inner .message .title {
      font-size: 5rem;
      transform: translateX(-50%);
      position: absolute;
      top: -30px;
      left: 50%;
      font-weight: 500; } }
/* CSS Document */
.sec-service .inner {
  max-width: 1140px;
  margin: 0 auto; }
  .sec-service .inner .service-list {
    display: flex; }
    .sec-service .inner .service-list .service-item {
      background-color: rgba(225, 225, 225, 0.7);
      padding: 20px;
      list-style: none;
      box-sizing: border-box;
      width: 340px; }
      .sec-service .inner .service-list .service-item:nth-child(2) {
        margin: 0 60px; }
      .sec-service .inner .service-list .service-item .title {
        font-size: 2.4rem;
        line-height: 3.6rem; }
      .sec-service .inner .service-list .service-item .service-image {
        padding: 20px 0; }
        .sec-service .inner .service-list .service-item .service-image img {
          width: 100px;
          height: 100px; }
      .sec-service .inner .service-list .service-item .desc {
        text-align: justify; }

@media (max-width: 700px) {
  .sec-service .inner .service-list {
    display: block; }
    .sec-service .inner .service-list .service-item {
      padding: 20px;
      width: auto;
      max-width: 500px;
      margin: 0 auto; }
      .sec-service .inner .service-list .service-item:nth-child(2) {
        margin: 0 auto; }
      .sec-service .inner .service-list .service-item + .service-item {
        margin-top: 40px; }
      .sec-service .inner .service-list .service-item .title {
        font-size: 2.4rem; }
      .sec-service .inner .service-list .service-item .service-image {
        padding: 20px 0; }
        .sec-service .inner .service-list .service-item .service-image img {
          width: 100px;
          height: 100px; }
      .sec-service .inner .service-list .service-item .desc {
        text-align: justify; } }
/* CSS Document */
.sec-works .inner {
  max-width: 1140px;
  margin: 0 auto; }
  .sec-works .inner .work-list {
    display: flex;
    z-index: -1; }
    .sec-works .inner .work-list .work-item {
      list-style: none; }
      .sec-works .inner .work-list .work-item:nth-child(2) {
        margin: 0 60px; }
      .sec-works .inner .work-list .work-item .work-link {
        display: flex;
        flex-flow: column-reverse;
        justify-content: flex-end;
        background-color: #fff;
        text-decoration: none;
        max-width: 340px; }
        .sec-works .inner .work-list .work-item .work-link:hover {
          opacity: 1;
          transform: translateY(-10px);
          transition: .3s; }
        .sec-works .inner .work-list .work-item .work-link .contents {
          box-sizing: border-box;
          padding: 0 20px 20px;
          color: #333;
          min-height: 180px; }
          .sec-works .inner .work-list .work-item .work-link .contents .site-name {
            padding-bottom: 20px; }
          .sec-works .inner .work-list .work-item .work-link .contents .desc {
            text-align: justify; }
        .sec-works .inner .work-list .work-item .work-link .site-image {
          padding-bottom: 20px; }

@media (max-width: 800px) {
  .sec-works .inner .work-list {
    max-width: 500px;
    margin: 0 auto;
    display: block; }
    .sec-works .inner .work-list .work-item {
      list-style: none; }
      .sec-works .inner .work-list .work-item:nth-child(n+2) {
        margin: 0;
        margin-top: 40px; }
      .sec-works .inner .work-list .work-item .work-link {
        max-width: 500px;
        margin: 0 auto; }
        .sec-works .inner .work-list .work-item .work-link:hover {
          opacity: 1;
          transform: translateY(-10px);
          transition: .3s; }
        .sec-works .inner .work-list .work-item .work-link .contents {
          box-sizing: border-box;
          padding: 0 20px 20px;
          color: #333;
          min-height: 180px; }
          .sec-works .inner .work-list .work-item .work-link .contents .site-name {
            padding-bottom: 20px; }
          .sec-works .inner .work-list .work-item .work-link .contents .desc {
            text-align: justify; }
        .sec-works .inner .work-list .work-item .work-link .site-image {
          padding-bottom: 20px; } }
/* CSS Document */
.sec-flow .inner {
  max-width: 1200px;
  margin: 0 auto; }
  .sec-flow .inner .flow-list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
    .sec-flow .inner .flow-list .flow-item {
      width: 250px;
      background-color: rgba(225, 225, 225, 0.7);
      padding: 20px;
      box-sizing: border-box; }
      .sec-flow .inner .flow-list .flow-item + .flow-item {
        margin-left: 40px; }
      .sec-flow .inner .flow-list .flow-item .contents {
        display: flex;
        flex-flow: column-reverse; }
        .sec-flow .inner .flow-list .flow-item .contents .text .title {
          font-size: 2.4rem;
          padding: 20px 0 30px; }
        .sec-flow .inner .flow-list .flow-item .contents .text .desc {
          text-align: left;
          padding-bottom: 10px; }
        .sec-flow .inner .flow-list .flow-item .contents .step {
          width: 104px;
          margin: 0 auto; }

@media (max-width: 1000px) {
  .sec-flow .inner .flow-list {
    display: block; }
    .sec-flow .inner .flow-list .flow-item {
      width: auto;
      max-width: 500px;
      margin: 0 auto; }
      .sec-flow .inner .flow-list .flow-item + .flow-item {
        margin-left: 0;
        margin: 40px auto 0; } }
.works .inner {
  max-width: 800px;
  margin: 0 auto 60px; }
  .works .inner .site-title {
    font-size: 3.6rem;
    margin-bottom: 60px; }
  .works .inner .notice {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0 60px; }
  .works .inner .site {
    background-color: rgba(225, 225, 225, 0.7);
    padding: 40px; }
    .works .inner .site .site-text {
      text-align: left; }
      .works .inner .site .site-text h3 {
        font-size: 2.4rem;
        padding-bottom: 10px; }
        .works .inner .site .site-text h3::after {
          content: "";
          display: block;
          width: 250px;
          height: 2px;
          background-color: #00B7EE;
          margin-top: 10px; }
      .works .inner .site .site-text .text {
        font-weight: bold;
        padding-bottom: 40px; }

@media (max-width: 768px) {
  .works .inner .site-title {
    font-size: 2.4rem; }
  .works .inner .notice {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0 60px; }
  .works .inner .site {
    background-color: rgba(225, 225, 225, 0.7);
    padding: 40px; }
    .works .inner .site .site-text {
      text-align: left; }
      .works .inner .site .site-text h3 {
        font-size: 2.4rem;
        padding-bottom: 10px; }
        .works .inner .site .site-text h3::after {
          content: "";
          display: block;
          width: 250px;
          height: 2px;
          background-color: #00B7EE;
          margin-top: 10px; }
      .works .inner .site .site-text .text {
        font-weight: bold;
        padding-bottom: 40px; } }
/* CSS Document */
.footer {
  background-color: rgba(225, 225, 225, 0.3);
  height: 220px; }
  .footer .footer-wrap {
    font-weight: 600; }
    .footer .footer-wrap nav ul {
      display: flex;
      justify-content: center;
      padding-top: 35px; }
      .footer .footer-wrap nav ul .list-item + .list-item {
        margin-left: 20px; }
      .footer .footer-wrap nav ul .list-item a {
        color: #333;
        font-size: 1.6rem;
        text-decoration: none; }
    .footer .footer-wrap .sns {
      display: flex;
      justify-content: center;
      padding: 25px 0 40px; }
      .footer .footer-wrap .sns .twitter {
        padding-left: 40px; }
  .footer .copyright {
    color: #333; }
