/* CSS Document */
.sec-pro {
 .inner {
	 max-width: 1140px;
	 margin: 0 auto;
	 &::before {
			display: block;
			content: "";
  		height: 15rem;
  		margin-top: -15rem;
		}
	.sec-title {
	}
	.profile {
		display: flex;
		.photo {
			width: 50%;
			img {
				border-radius: 300px;
				width: 300px;
				height: 300px;
				object-fit: cover;
			}
		}
		.introduction {
			text-align: left;
			flex: 1;
			background-color: rgba(225,225,225,.7);
			padding: 50px;
			box-sizing: border-box;
			.name {
				font-size: 3.6rem;
				padding-bottom: 20px;
				span {
					font-size: 1.6rem;
					font-weight: 500;
				}
			}
			.text {
				padding-bottom: 20px;
				
			}
			.hobby {
				
			}
		}
	}
	.message {
		position: relative;
		background-color: rgba(225,225,225,0.5);
		width: 520px;
		height: 220px;
		text-align: justify;
		border: solid 1px #333;
		padding: 20px;
		box-sizing: border-box;
		margin: 120px auto 0;
		z-index: -1;
		.title {
			font-family: 'Pinyon Script', cursive;
			font-size: 5rem;
			transform: rotate(-15deg);
			position: absolute;
			top: -20px;
			left: -60px;
			font-weight: 500;
		}
		.desc {
			
		}
	}
 }
}

@media(max-width:800px) {
	.sec-pro {
 .inner {
	.sec-title {
	}
	.profile {
		display: block;
		.photo {
			margin: 0 auto;
			width: auto;
			img {
			}
		}
		.introduction {
			margin-top: 40px;
			.name {
				font-size: 2.4rem;
				span {
					font-size: 1.2rem;
				}
			}
			.text {
				
			}
			.hobby {
				
			}
		}
	}
	.message {
		max-width: 520px;
		height: auto;
		width: auto;
		margin: 70px auto 0;
		.title {
			font-size: 5rem;
			transform: translateX(-50%);
			position: absolute;
			top: -30px;
			left: 50%;
			font-weight: 500;
		}
		.desc {
			
		}
	}
 }
}
}
