/* CSS Document */
.sec-works {
	
 .inner {
	max-width: 1140px;
	margin: 0 auto;
	.sec-title {
		
	}
	.work-list {
		display: flex;
		z-index: -1;
		.work-item {
			list-style: none;
			&:nth-child(2) {
				margin: 0 60px;
			}
			.work-link {
				display: flex;
				flex-flow: column-reverse;
				justify-content: flex-end;
				background-color: #fff;
				text-decoration: none;
				max-width: 340px;
				&:hover {
					opacity: 1;
					transform: translateY(-10px);
					transition: .3s;
				}
			.contents {
				box-sizing: border-box;
				padding: 0 20px 20px;
				color: #333;
				min-height: 180px;
				
				.site-name {
					padding-bottom: 20px;
				}
				.desc {
					text-align: justify;
				}
			}
			.site-image {
				padding-bottom: 20px;
			}
		 }
		}
	}
 }
}

@media(max-width:800px) {
	.sec-works {
 .inner {
	.sec-title {
	}
	.work-list {
		max-width: 500px;
		margin: 0 auto;
		display: block;
		.work-item {
			list-style: none;
			&:nth-child(n+2) {
				margin: 0;
				margin-top: 40px;
			}
			.work-link {
				max-width: 500px;
				margin: 0 auto;
				&:hover {
					opacity: 1;
					transform: translateY(-10px);
					transition: .3s;
				}
			.contents {
				box-sizing: border-box;
				padding: 0 20px 20px;
				color: #333;
				min-height: 180px;
				
				.site-name {
					padding-bottom: 20px;
				}
				.desc {
					text-align: justify;
				}
			}
			.site-image {
				padding-bottom: 20px;
			}
		 }
		}
	}
 }
}
}